.selectorBg {
  width: fit-content;
  height: fit-content;
}

.selectorBg__title {

}

.selectorBg__elements {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 12px;
}

.selectorBg__element {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
