.snowflake {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  animation: snowfallRotate 5s linear infinite;
}

.snowflake__container_y {
  display: inline-flex;
  animation: snowfall 20s ease-in infinite;
  position: fixed;
  top: -50px;
}

.snowflake__container_x {
  --transtale-x: 100%;
  display: inline-flex;
  animation: snowfallX 5s ease-in-out infinite;
}

@keyframes snowfall {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(93vh);
  }
}

@keyframes snowfallX {
  0% {
    transform: translateX(calc(-1 * var(--transtale-x)));
  }
  50% {
    transform: translateX(var(--transtale-x));
  }
  100% {
    transform: translateX(calc(-1 * var(--transtale-x)));
  }
}

@keyframes snowfallRotate {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateZ(360deg);
  }
}