.filterUnit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.filterUnit__title {
    font-family: "Steppe", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: inherit;
    margin: 0 0 24px 0;
}