body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    background-image: var(--bg-jpg);
    background-attachment: fixed;
    background-position-x: center;
    scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
    width: 0;
}

.mainBody {
    width: 100%;
    min-height: 80vh;
}

button {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1.1s;
}

.svgIcon {
    background-color: white;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition-property: background-color;
    transition-duration: 1.1s;
}

.svgIcon:hover {
    cursor: pointer;
    background-color: rgb(119, 119, 119);
}