.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(70px + 11vw);
    min-width: 220px;
    min-height: 180px;
    margin: 10px;
    background-color: white;
}

.card_name {
    text-align: center;
    font-size: calc(0.9rem + 0.2vw);
}

.card_image {
    width: calc(70px + 1.8vw);
    height: calc(70px + 1.8vw);
}

.card_descriptionBlock {
    display: inline-flex;
    flex-direction: column;
    min-height: 120px;
}

.card_property {
    font-size: calc(0.65rem + 0.2vw);
}