.filterBlock {
    width: 566px;
    height: 100%;
    margin: 140px 0 0 100px;
    color: white;
    display: flex;
    flex-direction: column;
}

.toyFilterUnit {
    color: white;
    display: flex;
    flex-direction: column;
}
