@use '@services/icons/icon.scss' as ic;

.FilterSectorSizes__elems {
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FilterSectorSizes__elem {
    @include ic.iconSvg(url("@assets/svg/ball.svg"));
}

.FilterSectorSizes__elem_big {
    min-width: 35px;
    min-height: 35px;
    width: 2.4vw;
    height: 2.4vw;
}

.FilterSectorSizes__elem_medium {
    min-width: 30px;
    min-height: 30px;
    width: 2.1vw;
    height: 2.1vw;
}

.FilterSectorSizes__elem_small {
    min-width: 25px;
    min-height: 25px;
    width: 1.8vw;
    height: 1.8vw;
}