.range__slider {
  --size: 1;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at center, #e7efff 0%, #d8e2ff 40%, #002349 85%);
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}

.range__slider_active {
  --size: 1.1;
  background: radial-gradient(circle at center, #e7efff 0%, #d8e2ff 45%, #002349 90%);
  box-shadow: 0px 0px 10px -1px rgb(0, 14, 56);
}
