.toyFilterValue {
}

.FilterSector {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: calc(1rem + 0.37vw);
}

.toyFiltersValueName {
    text-align: center;
    font-size: calc(1.2rem + 0.48vw);
}