@use '@services/icons/icon.scss' as ic;

.FilterSectorShapes__elems {
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FilterSectorShapes__elem {
    min-width: 30px;
    min-height: 30px;
    width: 2.1vw;
    height: 2.1vw;
}

.FilterSectorShapes__elem_ball {
    @extend .FilterSectorShapes__elem;
    @include ic.iconSvg(var(--ball-svg));
}

.FilterSectorShapes__elem_bell {
    @extend .FilterSectorShapes__elem;
    @include ic.iconSvg(var(--bell-svg));
}

.FilterSectorShapes__elem_cone {
    @extend .FilterSectorShapes__elem;
    @include ic.iconSvg(var(--cone-svg));
}

.FilterSectorShapes__elem_snow {
    @extend .FilterSectorShapes__elem;
    @include ic.iconSvg(var(--snowflake-svg));
}

.FilterSectorShapes__elem_toy {
    @extend .FilterSectorShapes__elem;
    @include ic.iconSvg(var(--toy-svg));
}