@mixin iconSvg($svg) {
    background-color: white;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition-property: background-color;
    transition-duration: 0.9s;
    mask-image: $svg;
    -webkit-mask-image: $svg;
    &:hover {
        cursor: pointer;
        background: rgb(146, 244, 255);
    }
}

div.iconSvg_clicked {
    background: rgba(195, 216, 255, 0.7);
}

div.iconSvg_clicked:hover {
    background: rgba(195, 216, 255, 0.7);
}