.cardList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-left: 20px;
}

.cardList__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.cardList__title {
    font-family: Neucha;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.cardList__header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.67em;
}

.cardList::-webkit-scrollbar {
    width: 0;
}
