.linkToyPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.linkToyPage:hover {
  cursor: pointer;
}

.linkToyPage__arrow {
  width: 16px;
  height: 16px;
  margin-right: 9px;
  mask-image: url("@assets/arrow-right.svg");
  -webkit-mask-image: url("@assets/arrow-right.svg");
  background-color: white;
  transform: rotate(180deg);
}