.treePage {
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 47, 0.70);
    display: flex;
    flex-direction: row;
}

.activeToy__toy {
    width: 30px;
    height: 30px;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}