.cardList {
    width: 100%;
    min-height: max(30rem, 100%);
    height: 1px;
    max-height: 100%;
    overflow-y: hidden;
    padding-left: 1rem;
    display: grid;
    grid-template: min-content 1fr / 1fr;
}

.cardList__body {
    width: 100%;
    min-height: 40rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 13rem);
    grid-auto-rows: 1fr;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    @media screen and (max-width: 600px) {
        justify-content: center;
    }
}

.cardList__title {
    font-family: Neucha;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.cardList__header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.67rem;
}

.cardList::-webkit-scrollbar {
    width: 0;
}
