@use '@utils/icons/icon.scss' as ic;

.filterShape {
    max-width: max-content;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 2.2rem;
}

.filterShape__elem {
    width: 2.2rem;
    height: 2.2rem;
}

.filterShape__elem_ball {
    @include ic.iconSvg(var(--ball-svg));
}

.filterShape__elem_bell {
    @include ic.iconSvg(var(--bell-svg));
}

.filterShape__elem_cone {
    @include ic.iconSvg(var(--cone-svg));
}

.filterShape__elem_snow {
    @include ic.iconSvg(var(--snowflake-svg));
}

.filterShape__elem_toy {
    @include ic.iconSvg(var(--toy-svg));
}