.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 222px;
    margin: 0 10px 10px 0;
    border-radius: 10px;
    background: radial-gradient(152.36% 152.36% at -0.00% -2.94%, rgba(255, 255, 255, 0.50) 0%, rgba(179, 246, 255, 0.50) 100%);
    backdrop-filter: blur(2px);
}

.card:hover {
    cursor: pointer;
}

.card * {
    pointer-events: none;
}

.card.card_clicked {
    background: radial-gradient(152.36% 152.36% at -0.00% -2.94%, rgba(194, 208, 255, 0.7) 0%, rgba(70, 134, 255, 0.7) 100%);
}

.card__name {
    text-align: center;
    margin: 22px 0;
    font-family: Neucha, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card__image {
    width: 100px;
    height: 100px;
    margin-bottom: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card__descriptionBlock {
    display: inline-flex;
    flex-direction: column;
    min-height: 120px;
    margin-left: 16px;
}

.card__property {
    color: var(--white, #FFF);
    font-family: "Steppe", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}