.menuToyPage {
    width: 466px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menuToyPage__tools_row {
    display: flex;
    width: calc(100% - 56px);
    justify-content: space-between;
    margin-bottom: 29px;
}