.selectorTree {
  width: fit-content;
  height: fit-content;
}

.selectorTree__title {

}

.selectorTree__elements {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 0.6em;
  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(2, max-content);
    grid-auto-rows: max-content;
    font-size: 0.9rem;
    max-height: 15em;
  }
  @media screen and (max-width: 991px) {
    max-height: 18em;
  }
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.selectorTree__element {
  width: 5.6em;
  height: 5.6em;
  border-radius: 0.6em;
  background: radial-gradient(152.36% 152.36% at -0.00% -2.94%, rgba(255, 255, 255, 0.50) 0%, rgba(179, 246, 255, 0.50) 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.selectorTree__example {
  --scale: 0.15;
  @media screen and (max-width: 1390px) {
    --scale: 0.14;
  }
  @media screen and (max-width: 1280px) {
    --scale: 0.125;
  }
  @media screen and (max-width: 991px) {
    --scale: 0.11;
  }
  width: calc(500px * var(--scale));
  height: calc(714px * var(--scale));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}