.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(70px + 11vw);
    min-width: 220px;
    min-height: 180px;
    margin: 10px;
    background-color: white;
}

.cardName {
    text-align: center;
    font-size: calc(0.9rem + 0.2vw);
}

.cardImage {
    width: calc(70px + 1.8vw);
    height: calc(70px + 1.8vw);
}

.cardDescription {
    display: inline-flex;
    flex-direction: column;
    min-height: 120px;
}

.cardDescriptionField {
    font-size: calc(0.65rem + 0.2vw);
}