@supports (background: paint(houdini)) {
    @property --gradPoint {
      syntax: '<color>';
      inherits: false;
      initial-value: red;
    }

    .Range__baseLine {
        background: var(--gradPoint);
    }
}