.selectorDecTree {
  width: fit-content;
  height: fit-content;
}

.selectorDecTree__title {

}

.selectorDecTree__elements {
  display: flex;
  width: calc(3 * 115px + 2 * 16px);
  overflow-x: hidden;
  gap: 16px;
}

.selectorDecTree__element {
  min-width: 115px;
  height: 115px;
  border-radius: 10px;
  background: radial-gradient(152.36% 152.36% at -0.00% -2.94%, rgba(255, 255, 255, 0.50) 0%, rgba(179, 246, 255, 0.50) 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.selectorDecTree__example {
  --scale: 0.15;
  width: calc(500px * var(--scale));
  height: calc(714px * var(--scale));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}