@use '@utils/icons/icon.scss' as ic;

.interaction__music {
  width: 2rem;
  height: 2rem;
  @include ic.iconSvg(url("@assets/svg/audio.svg"));
}

.interaction__music_muted {
  @include ic.iconSvg(url("@assets/svg/mute.svg"));
}

.interaction__snow {
  width: 2rem;
  height: 2rem;
  @include ic.iconSvg(url("@assets/svg/snow.svg"));
}