@use '@services/icons/icon.scss' as ic;
.toyFilterValueSectorSize {
    
}

.toyFilterSectorSize__elems {
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toyFilterSectorSize__elem {
    @include ic.iconSvg(var(--ball-svg));
}

.toyFilterSectorSize__elem_big {
    min-width: 35px;
    min-height: 35px;
    width: 2.4vw;
    height: 2.4vw;
}

.toyFilterSectorSize__elem_medium {
    min-width: 30px;
    min-height: 30px;
    width: 2.1vw;
    height: 2.1vw;
}

.toyFilterSectorSize__elem_small {
    min-width: 25px;
    min-height: 25px;
    width: 1.8vw;
    height: 1.8vw;
}