.linkTreePage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.linkTreePage:hover {
  cursor: pointer;
}

.linkTreePage__arrow {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  mask-image: url("@assets/arrow-right.svg");
  -webkit-mask-image: url("@assets/arrow-right.svg");
  background-color: white;
}