.footerBody {
    display: flex;
    width: 100%;
    min-height: 10vh;
    height: 1px;
    background-color: black;
}

.githubDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.githubIcon {
    height: 80%;
    min-height: 50px;
    min-width: 50px;
    width: 100%;
    mask-image: var(--github-svg);
}

.yearDiv {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.yearText {
    font-size: 1em;
    color: white;
}

.rsschoolDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    height: 100%;
}

.rsschoolIcon {
    height: 80%;
    min-height: 50px;
    min-width: 50px;
    width: 100%;
    mask-image: var(--rsschool-svg);
}