.toyCounter {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 72px;
    height: 100%;
    background-image: var(--ball-svg);
    background-position: center;
    background-repeat: no-repeat;
}

.toyCounter__text {
    color: white;
    margin-top: 3.5vh;
    font-size: 2rem;
    font-weight: 600;
}