@import "@assets/fonts/neucha/neucha.css";
@import "@assets/fonts/steppe/stylesheet.css";
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:root {
    --github-svg: url('./assets/icons/github.svg');
    --rsschool-svg: url('./assets/icons/rsschool.svg');
    --tree-svg: url('assets/svg/tree.svg');
    --ball-svg: url('./assets/svg/ball.svg');
    --bell-svg: url('./assets/svg/bell.svg');
    --cone-svg: url('./assets/svg/cone.svg');
    --snowflake-svg: url('./assets/svg/snowflake.svg');
    --toy-svg: url('./assets/svg/toy.svg');
    --bg-jpg: url('./assets/bg.jpg');
}

html {
    font-family: "Steppe", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    background-image: url('@assets/bg2.jpg');
    background-attachment: fixed;
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-gutter: stable;

}

body::-webkit-scrollbar {
    width: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.textSwitch {
    text-decoration: none;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    transition-property: color;
    transition-duration: 1.1s;
}

.textSwitch:hover {
    cursor: pointer;
    color: rgb(119, 119, 119);
}

button {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1.1s;
}