:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-image: url("assets/bg.jpg");
    background-attachment: fixed;
    background-position-x: center;
}

button {
    cursor: pointer;
    transition-duration: 1.1s;
}

.mainBody {
    width: 100%;
    min-height: 80%;
}

@import url("footer.css");
@import url("header.css");