@function pageRems($num) {
    @return calc($num * var(--page-rems));
}

@mixin startPage__block {
    border: 3px solid #278D9F;
    background: radial-gradient(618.39% 159.94% at 0.00% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0.00) 100%);
    backdrop-filter: blur(15.5px);
}

.startPage {
    justify-content: center;
    align-items: center;
    color: white;
    --page-rems: 1rem;
    @media screen and (max-width: 991px) {
        --page-rems: 0.9rem;
    }
    @media screen and (max-width: 767px) {
        --page-rems: 0.8rem;
    }
    @media screen and (max-width: 480px) {
        --page-rems: 1rem;
    }
    @media screen and (max-width: 360px) {
        --page-rems: 0.85rem;
    }
}

.startPage__contentBlock {
    margin-top: pageRems(5);
    position: relative;
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.startPage__titleBlock {
    width: pageRems(30);
    height: pageRems(12.5);
    border-radius: pageRems(1.5);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    @include startPage__block();
    @media screen and (max-width: 480px) {
        margin-left: 0.75rem;
        width: calc(100% - 1.5rem);
    }
}

.startPage__title {
    width: pageRems(21);
    font-size: pageRems(2.75);
    font-family: "Neucha", "Papyrus", fantasy;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.startPage__startButton {
    width: pageRems(16);
    height: pageRems(2.75);
    color: white;
    border-radius: pageRems(1.5);
    margin-top: pageRems(5.75);
    font-size: pageRems(1.25);
    font-family: "Steppe", Arial, Helvetica, sans-serif;
    text-align: center;
    @include startPage__block();
}

.startPage__toy {
    position: absolute;
    height: auto;
    z-index: 1;
}

.startPage__toy_first{
    width: pageRems(18.5);
    top: pageRems(-1.5);
    left: pageRems(-12.5);
    @media screen and (max-width: 480px){
        display: none;
    }
}

.startPage__toy_second {
    width: pageRems(13);
    top: pageRems(-3);
    right: pageRems(-8);
    @media screen and (max-width: 480px){
        display: none;
    }
}

@mixin startPage__imageBlock() {
    content: '';
    height: pageRems(100);
    position: absolute;
    z-index: -1;
}

@mixin startPage__imageBlock_before() {
    width: 3px;
    background-color: rgb(124, 124, 124);
    @media screen and (max-width: 480px){
        display: none;
    }
}

@mixin startPage__imageBlock_after() {
    width: 2px;
    background-color: rgba(153, 153, 153, 0.86);
    @media screen and (max-width: 480px){
        display: none;
    }
}

.startPage__imageBlock_first {
    $left: pageRems(-3.25);
    $bottom: pageRems(13.5);
    &::before {
        left: $left;
        bottom: $bottom;
        @include startPage__imageBlock();
        @include startPage__imageBlock_before();
    }
    &::after {
        left: calc($left + 2px);
        bottom: $bottom;
        @include startPage__imageBlock();
        @include startPage__imageBlock_after();
    }
}

.startPage__imageBlock_second {
    $left: calc(pageRems(31) + 6px);
    $bottom: calc(pageRems(15) + 3px);
    &::before {
        left: $left;
        bottom: $bottom;
        @include startPage__imageBlock();
        @include startPage__imageBlock_before();
    }
    &::after {
        left: calc($left + 2px);
        bottom: $bottom;
        @include startPage__imageBlock();
        @include startPage__imageBlock_after();
    }
}
