.toyPage {
    width: 100%;
    height: 100%;
    padding: 50px 0 0 100px;
    background: linear-gradient(180deg, #0393db 0%, #003674 100%);
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1300px) {
        padding: 50px 0 0 50px;
    }
}

.toyPage__menu {
    width: 466px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toyPage__tools_row {
    display: flex;
    width: calc(100% - 56px);
    justify-content: space-between;
    margin-bottom: 29px;
}